body {
    margin: 0;
    font-family:initial;
    background-color: #2B6783;
    font-weight:400;
  }
  
  a {
    color: #000;
  }
  
  /* header */
  
  .header {
    background-color: #20BB9E;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #00919F;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #20BB9E;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #F9F871;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  /*images*/
  img {
      width: 100%;
      display: block;
  }

  .welcome-content {
      margin: 2em 1em;
      text-align: center;
      display: flex;
      justify-content: center;
  }

  ul {
      text-align: left;
  }

  .book {
      margin: 2em 0em;
      padding: 1em 1em;
      background-color: #00919F;
  }

  .news-content {
      text-align: center;
      margin: 2em 0em;
  }

  .little-padding {
      padding: 0em 1em;
  }

  .little-margin {
      margin: 1em 0.5em;
  }

  .contact-location {
      text-align: center;
      padding: 1em 1em;
      margin: 2em 1em;
  }

  .profile {
      text-align: center;
  }

  .begin-about-content {
    text-align: center;
  }

  .activity-title {
      margin-bottom: 2em;
  }

  .activity-description {
      align-items: center;
  }

  .center-contents {
    display: flex;
    justify-content: center;
}

  /*footer*/
  .footer {
      height: 100px;
      background-color: #8CDF86;
      margin-top: 1em;
      padding: 1em 2em;

      display: flex;
      justify-content: center;
      align-items: center;
  }

  .footer-content {
      padding: 2em 2em;
  }

  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }

    .photo img {
        max-height: 500px;
        object-fit: cover;
    }

    .library-photos {
        width: 100%;
    }

    .begin-about-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .portfolio {
        display: grid;
        grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
      }

      .all-of-container-conditional {
        width: 100%;
        height: 100%;
    }

    .map img {
        max-width: 600px;
        object-fit: cover;
    }
  }

/*color-palet
Generic Gradient
#394054
#2B6783
#00919F
#20BB9E
#8CDF86
#F9F871*/